@model Entity.Concrete.Blog
@{
    ViewData["Title"] = "Blog Güncelle";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Blog Güncelle</h1>
<br />
<form asp-controller="Blog" asp-action="EditBlog" method="post">

    <input asp-for="Id" hidden/>
    <input asp-for="WriterId" hidden/>

    <label asp-for="Title">Blog Başlığı</label>
    <input asp-for="Title" class="form-control"/>
    <span asp-validation-for="Title" class="val-error"></span>

    <br />

    <label asp-for="Image">Blog Görseli</label>
    <input asp-for="Image" type="text" class="form-control"/>
    <span asp-validation-for="Image" class="val-error"></span>

    <br />

    <label asp-for="ThumbnailImage">Blog Küçük Görsel</label>
    <input asp-for="ThumbnailImage" class="form-control" />

    <br />

    <label asp-for="CategoryId">Kategori</label>
    <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control">
        <option value="@Model.CategoryId"></option>
    </select>

    <br />

    <label asp-for="Content">Blog İçeriği</label>
    <textarea asp-for="Content" class="form-control" rows="10" > </textarea>

    <br />

    <button class="btn btn-success">Kaydet</button>


</form>